@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

@theme{
    --font-display:  "Dancing Script", cursive;
}

.container{
    @apply max-w-7xl mx-auto p-4;
}